# Local dependencies
node_modules
npm-debug.log*

# Git files
.git
.gitignore

# Private environment variables
.env

# Docker configuration not needed inside app image
docker-compose.yml
Dockerfile
.dockerignore

# Documentation
README.md

# Operating system files
.DS_Store
Thumbs.db

# Future TLS certificates
nginx/certs
