# --- Gitea server ---
GITEA_DOMAIN=localhost # us you may also access that from any ip puplic ip of aws 
GITEA_HTTP_PORT=any por # set up the port by own anyport
GITEA_SSH_PORT=222  
GITEA_INSTALL_LOCK=true # must be true 

# --- PostgreSQL / Gitea database ---
POSTGRES_DB=gitea 
POSTGRES_USER=gitea
POSTGRES_PASSWORD=changeme

# --- Gitea admin account ---
GITEA_ADMIN_USER=admin
GITEA_ADMIN_PASSWORD=changeme123
GITEA_ADMIN_EMAIL=admin@example.com
